<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_BFWGQKDZEea6GocbRdTeNg" specification="interface:&#xD;&#xA;&#x9;in event leftButtonPressed&#xD;&#xA;&#x9;in event rightButtonPressed&#xD;&#xA;&#xD;&#xA;interface LeftLight:&#xD;&#xA;&#x9;var state: boolean&#xD;&#xA;&#x9;&#xD;&#xA;interface RightLight:&#xD;&#xA;&#x9;var state: boolean&#xD;&#xA;&#x9;&#xD;&#xA;interface Servo:&#xD;&#xA;&#x9;var position: integer" name="Temalab">
    <regions xmi:id="_BGWy4KDZEea6GocbRdTeNg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_BHpzYKDZEea6GocbRdTeNg">
        <outgoingTransitions xmi:id="_BH_xoKDZEea6GocbRdTeNg" target="_BHvS8KDZEea6GocbRdTeNg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_BHvS8KDZEea6GocbRdTeNg" specification="" name="LOOP" incomingTransitions="_BH_xoKDZEea6GocbRdTeNg _uNC2wKHZEeaLWtGRPyTNeA _prP_MKHcEeaLWtGRPyTNeA">
        <outgoingTransitions xmi:id="_01DCUKHVEeaLWtGRPyTNeA" specification="leftButtonPressed" target="_8bSXwKHREeaLWtGRPyTNeA"/>
        <outgoingTransitions xmi:id="_POpzUKHWEeaLWtGRPyTNeA" specification="rightButtonPressed" target="_AHaEMKHSEeaLWtGRPyTNeA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_8bSXwKHREeaLWtGRPyTNeA" specification="entry/ LeftLight.state = true" name="LeftLightOn" incomingTransitions="_01DCUKHVEeaLWtGRPyTNeA">
        <outgoingTransitions xmi:id="_LSZjsKHXEeaLWtGRPyTNeA" specification="always / Servo.position = 90" target="_0_UjMKHWEeaLWtGRPyTNeA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_AHaEMKHSEeaLWtGRPyTNeA" specification="entry/ RightLight.state = true" name="RightLightOn" incomingTransitions="_POpzUKHWEeaLWtGRPyTNeA">
        <outgoingTransitions xmi:id="_gzgUsKHXEeaLWtGRPyTNeA" specification="always / Servo.position = 90" target="_ENcTMKHXEeaLWtGRPyTNeA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_0_UjMKHWEeaLWtGRPyTNeA" specification="entry/ Servo.position += 1&#xD;&#xA;" name="ServoTurnLeft" incomingTransitions="_LSZjsKHXEeaLWtGRPyTNeA _VBfNQKHZEeaLWtGRPyTNeA">
        <outgoingTransitions xmi:id="_VBfNQKHZEeaLWtGRPyTNeA" specification="every 15ms [Servo.position &lt; 180] " target="_0_UjMKHWEeaLWtGRPyTNeA"/>
        <outgoingTransitions xmi:id="_tk1KwKHaEeaLWtGRPyTNeA" specification="always [Servo.position == 180]" target="_dYcbsKHaEeaLWtGRPyTNeA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_ENcTMKHXEeaLWtGRPyTNeA" specification="entry/ Servo.position -= 1&#xD;&#xA;" name="ServoTurnRight" incomingTransitions="_gzgUsKHXEeaLWtGRPyTNeA _fwQ8wKHcEeaLWtGRPyTNeA">
        <outgoingTransitions xmi:id="_4utMwKHbEeaLWtGRPyTNeA" specification="always [Servo.position == 0]" target="_1xt3MKHbEeaLWtGRPyTNeA"/>
        <outgoingTransitions xmi:id="_fwQ8wKHcEeaLWtGRPyTNeA" specification="every 15ms [Servo.position > 0]" target="_ENcTMKHXEeaLWtGRPyTNeA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_IuwiQKHXEeaLWtGRPyTNeA" specification="entry/ LeftLight.state = false" name="LeftLightOff" incomingTransitions="_6WF2wKHaEeaLWtGRPyTNeA">
        <outgoingTransitions xmi:id="_uNC2wKHZEeaLWtGRPyTNeA" specification="always" target="_BHvS8KDZEea6GocbRdTeNg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_au8KMKHXEeaLWtGRPyTNeA" specification="entry/ RightLight.state = false" name="RightLightOff" incomingTransitions="_5sayMKHbEeaLWtGRPyTNeA">
        <outgoingTransitions xmi:id="_prP_MKHcEeaLWtGRPyTNeA" specification="always" target="_BHvS8KDZEea6GocbRdTeNg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_dYcbsKHaEeaLWtGRPyTNeA" specification="entry/ Servo.position -= 1" name="ServoTurnBackFromLeft" incomingTransitions="_tk1KwKHaEeaLWtGRPyTNeA _VMX8sKHbEeaLWtGRPyTNeA">
        <outgoingTransitions xmi:id="_6WF2wKHaEeaLWtGRPyTNeA" specification="always [Servo.position == 90]" target="_IuwiQKHXEeaLWtGRPyTNeA"/>
        <outgoingTransitions xmi:id="_VMX8sKHbEeaLWtGRPyTNeA" specification="every 15ms [Servo.position > 90]" target="_dYcbsKHaEeaLWtGRPyTNeA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_1xt3MKHbEeaLWtGRPyTNeA" specification="entry/ Servo.position += 1&#xD;&#xA;" name="ServoTurnBackFromRight" incomingTransitions="_4utMwKHbEeaLWtGRPyTNeA _Eo34sKHcEeaLWtGRPyTNeA">
        <outgoingTransitions xmi:id="_5sayMKHbEeaLWtGRPyTNeA" specification="always [Servo.position == 90]" target="_au8KMKHXEeaLWtGRPyTNeA"/>
        <outgoingTransitions xmi:id="_Eo34sKHcEeaLWtGRPyTNeA" specification="every 15ms [Servo.position &lt; 90]" target="_1xt3MKHbEeaLWtGRPyTNeA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_BGUWoKDZEea6GocbRdTeNg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_BFWGQKDZEea6GocbRdTeNg" measurementUnit="Pixel">
    <children xmi:id="_BGn4oKDZEea6GocbRdTeNg" type="Region" element="_BGWy4KDZEea6GocbRdTeNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_BHieoKDZEea6GocbRdTeNg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BHieoaDZEea6GocbRdTeNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BHieoqDZEea6GocbRdTeNg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_BHk64KDZEea6GocbRdTeNg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_BHrBgKDZEea6GocbRdTeNg" type="Entry" element="_BHpzYKDZEea6GocbRdTeNg">
          <children xmi:id="_BHs2sKDZEea6GocbRdTeNg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_BHtdwKDZEea6GocbRdTeNg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_BHtdwaDZEea6GocbRdTeNg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_BHtdwqDZEea6GocbRdTeNg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_BHs2saDZEea6GocbRdTeNg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BHs2sqDZEea6GocbRdTeNg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_BHrBgaDZEea6GocbRdTeNg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_BHrBgqDZEea6GocbRdTeNg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BHtdw6DZEea6GocbRdTeNg" x="449" y="-28"/>
        </children>
        <children xmi:id="_BH1ZkKDZEea6GocbRdTeNg" type="State" element="_BHvS8KDZEea6GocbRdTeNg">
          <children xsi:type="notation:DecorationNode" xmi:id="_BH2nsKDZEea6GocbRdTeNg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_BH2nsaDZEea6GocbRdTeNg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_BH2nsqDZEea6GocbRdTeNg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_BH5rAKDZEea6GocbRdTeNg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_BH6SEKDZEea6GocbRdTeNg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BH6SEaDZEea6GocbRdTeNg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_BH65IKDZEea6GocbRdTeNg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_BH1ZkaDZEea6GocbRdTeNg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_BH1ZkqDZEea6GocbRdTeNg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_BH9VYKDZEea6GocbRdTeNg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BH98cKDZEea6GocbRdTeNg" x="433" y="40"/>
        </children>
        <children xmi:id="_8bX3UKHREeaLWtGRPyTNeA" type="State" element="_8bSXwKHREeaLWtGRPyTNeA">
          <children xsi:type="notation:DecorationNode" xmi:id="_8ba6oKHREeaLWtGRPyTNeA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_8ba6oaHREeaLWtGRPyTNeA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_8bbhsKHREeaLWtGRPyTNeA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8bcv0KHREeaLWtGRPyTNeA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_8bdW4KHREeaLWtGRPyTNeA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8bdW4aHREeaLWtGRPyTNeA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8belAKHREeaLWtGRPyTNeA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_8bX3UaHREeaLWtGRPyTNeA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_8bX3UqHREeaLWtGRPyTNeA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8bfMEKHREeaLWtGRPyTNeA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8bX3U6HREeaLWtGRPyTNeA" x="37" y="190"/>
        </children>
        <children xmi:id="_AHb5YKHSEeaLWtGRPyTNeA" type="State" element="_AHaEMKHSEeaLWtGRPyTNeA">
          <children xsi:type="notation:DecorationNode" xmi:id="_AHeVoKHSEeaLWtGRPyTNeA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_AHeVoaHSEeaLWtGRPyTNeA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_AHeVoqHSEeaLWtGRPyTNeA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_AHeVo6HSEeaLWtGRPyTNeA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_AHeVpKHSEeaLWtGRPyTNeA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AHeVpaHSEeaLWtGRPyTNeA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_AHe8sKHSEeaLWtGRPyTNeA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_AHb5YaHSEeaLWtGRPyTNeA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_AHb5YqHSEeaLWtGRPyTNeA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_AHe8saHSEeaLWtGRPyTNeA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AHb5Y6HSEeaLWtGRPyTNeA" x="699" y="190"/>
        </children>
        <children xmi:id="_0_XmgKHWEeaLWtGRPyTNeA" type="State" element="_0_UjMKHWEeaLWtGRPyTNeA">
          <children xsi:type="notation:DecorationNode" xmi:id="_0_YNkKHWEeaLWtGRPyTNeA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_0_YNkaHWEeaLWtGRPyTNeA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_0_YNkqHWEeaLWtGRPyTNeA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_0_Y0oKHWEeaLWtGRPyTNeA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_0_b38KHWEeaLWtGRPyTNeA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0_b38aHWEeaLWtGRPyTNeA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_0_gJYKHWEeaLWtGRPyTNeA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_0_XmgaHWEeaLWtGRPyTNeA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_0_XmgqHWEeaLWtGRPyTNeA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_0_gJYaHWEeaLWtGRPyTNeA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0_Xmg6HWEeaLWtGRPyTNeA" x="39" y="284"/>
        </children>
        <children xmi:id="_ENevcKHXEeaLWtGRPyTNeA" type="State" element="_ENcTMKHXEeaLWtGRPyTNeA">
          <children xsi:type="notation:DecorationNode" xmi:id="_ENfWgKHXEeaLWtGRPyTNeA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ENfWgaHXEeaLWtGRPyTNeA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ENfWgqHXEeaLWtGRPyTNeA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ENfWg6HXEeaLWtGRPyTNeA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ENf9kKHXEeaLWtGRPyTNeA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ENf9kaHXEeaLWtGRPyTNeA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ENf9kqHXEeaLWtGRPyTNeA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ENevcaHXEeaLWtGRPyTNeA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ENevcqHXEeaLWtGRPyTNeA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ENf9k6HXEeaLWtGRPyTNeA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ENevc6HXEeaLWtGRPyTNeA" x="711" y="284"/>
        </children>
        <children xmi:id="_IuzlkKHXEeaLWtGRPyTNeA" type="State" element="_IuwiQKHXEeaLWtGRPyTNeA">
          <children xsi:type="notation:DecorationNode" xmi:id="_Iu0MoKHXEeaLWtGRPyTNeA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Iu0MoaHXEeaLWtGRPyTNeA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Iu0MoqHXEeaLWtGRPyTNeA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Iu0Mo6HXEeaLWtGRPyTNeA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Iu0zsKHXEeaLWtGRPyTNeA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Iu0zsaHXEeaLWtGRPyTNeA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Iu1awKHXEeaLWtGRPyTNeA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_IuzlkaHXEeaLWtGRPyTNeA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_IuzlkqHXEeaLWtGRPyTNeA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Iu1awaHXEeaLWtGRPyTNeA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Iuzlk6HXEeaLWtGRPyTNeA" x="36" y="496"/>
        </children>
        <children xmi:id="_au-mcKHXEeaLWtGRPyTNeA" type="State" element="_au8KMKHXEeaLWtGRPyTNeA">
          <children xsi:type="notation:DecorationNode" xmi:id="_au_NgKHXEeaLWtGRPyTNeA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_au_NgaHXEeaLWtGRPyTNeA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_au_NgqHXEeaLWtGRPyTNeA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_au_Ng6HXEeaLWtGRPyTNeA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_au_0kKHXEeaLWtGRPyTNeA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_au_0kaHXEeaLWtGRPyTNeA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_avAboKHXEeaLWtGRPyTNeA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_au-mcaHXEeaLWtGRPyTNeA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_au-mcqHXEeaLWtGRPyTNeA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_avAboaHXEeaLWtGRPyTNeA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_au-mc6HXEeaLWtGRPyTNeA" x="697" y="492"/>
        </children>
        <children xmi:id="_dYeQ4KHaEeaLWtGRPyTNeA" type="State" element="_dYcbsKHaEeaLWtGRPyTNeA">
          <children xsi:type="notation:DecorationNode" xmi:id="_dYe38KHaEeaLWtGRPyTNeA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_dYe38aHaEeaLWtGRPyTNeA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_dYe38qHaEeaLWtGRPyTNeA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_dYffAKHaEeaLWtGRPyTNeA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_dYffAaHaEeaLWtGRPyTNeA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dYffAqHaEeaLWtGRPyTNeA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_dYgGEKHaEeaLWtGRPyTNeA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_dYeQ4aHaEeaLWtGRPyTNeA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_dYeQ4qHaEeaLWtGRPyTNeA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_dYgGEaHaEeaLWtGRPyTNeA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dYeQ46HaEeaLWtGRPyTNeA" x="44" y="400"/>
        </children>
        <children xmi:id="_1xvFUKHbEeaLWtGRPyTNeA" type="State" element="_1xt3MKHbEeaLWtGRPyTNeA">
          <children xsi:type="notation:DecorationNode" xmi:id="_1xvsYKHbEeaLWtGRPyTNeA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_1xvsYaHbEeaLWtGRPyTNeA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_1xvsYqHbEeaLWtGRPyTNeA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1xvsY6HbEeaLWtGRPyTNeA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_1xvsZKHbEeaLWtGRPyTNeA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1xvsZaHbEeaLWtGRPyTNeA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1xvsZqHbEeaLWtGRPyTNeA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_1xvFUaHbEeaLWtGRPyTNeA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_1xvFUqHbEeaLWtGRPyTNeA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_1xwTcKHbEeaLWtGRPyTNeA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1xvFU6HbEeaLWtGRPyTNeA" x="709" y="397"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BHk64aDZEea6GocbRdTeNg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_BGn4oaDZEea6GocbRdTeNg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BHnXIKDZEea6GocbRdTeNg" x="288" y="-24" width="949" height="618"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_BIN0EKDZEea6GocbRdTeNg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_BIObIKDZEea6GocbRdTeNg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BIObIaDZEea6GocbRdTeNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BIObIqDZEea6GocbRdTeNg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_BIObI6DZEea6GocbRdTeNg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BIPCMKDZEea6GocbRdTeNg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BIPpQKDZEea6GocbRdTeNg" x="24" y="12" width="253" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_BGUWoaDZEea6GocbRdTeNg"/>
    <edges xmi:id="_BILX0KDZEea6GocbRdTeNg" type="Transition" element="_BH_xoKDZEea6GocbRdTeNg" source="_BHrBgKDZEea6GocbRdTeNg" target="_BH1ZkKDZEea6GocbRdTeNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_BIMl8KDZEea6GocbRdTeNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BIMl8aDZEea6GocbRdTeNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BIMl8qDZEea6GocbRdTeNg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BILX0aDZEea6GocbRdTeNg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BIL-4KDZEea6GocbRdTeNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BILX0qDZEea6GocbRdTeNg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_01GssKHVEeaLWtGRPyTNeA" type="Transition" element="_01DCUKHVEeaLWtGRPyTNeA" source="_BH1ZkKDZEea6GocbRdTeNg" target="_8bX3UKHREeaLWtGRPyTNeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_01H60KHVEeaLWtGRPyTNeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_01H60aHVEeaLWtGRPyTNeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_01H60qHVEeaLWtGRPyTNeA" x="21" y="32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_01GssaHVEeaLWtGRPyTNeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_01HTwKHVEeaLWtGRPyTNeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_01GssqHVEeaLWtGRPyTNeA" points="[0, 0, 45, -134]$[-43, 132, 2, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_01ThAKHVEeaLWtGRPyTNeA" id="(0.660377358490566,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_01ThAaHVEeaLWtGRPyTNeA" id="(0.47029702970297027,0.03773584905660377)"/>
    </edges>
    <edges xmi:id="_POs2oKHWEeaLWtGRPyTNeA" type="Transition" element="_POpzUKHWEeaLWtGRPyTNeA" source="_BH1ZkKDZEea6GocbRdTeNg" target="_AHb5YKHSEeaLWtGRPyTNeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_POtdsaHWEeaLWtGRPyTNeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_POtdsqHWEeaLWtGRPyTNeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_POuEwKHWEeaLWtGRPyTNeA" x="25" y="-40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_POs2oaHWEeaLWtGRPyTNeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_POtdsKHWEeaLWtGRPyTNeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_POs2oqHWEeaLWtGRPyTNeA" points="[0, 0, -136, -132]$[138, 132, 2, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_POy9QKHWEeaLWtGRPyTNeA" id="(0.6792452830188679,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_POy9QaHWEeaLWtGRPyTNeA" id="(0.3170731707317073,0.018867924528301886)"/>
    </edges>
    <edges xmi:id="_LSbY4KHXEeaLWtGRPyTNeA" type="Transition" element="_LSZjsKHXEeaLWtGRPyTNeA" source="_8bX3UKHREeaLWtGRPyTNeA" target="_0_XmgKHWEeaLWtGRPyTNeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_LSb_8KHXEeaLWtGRPyTNeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LSb_8aHXEeaLWtGRPyTNeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LSb_8qHXEeaLWtGRPyTNeA" x="3" y="-95"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LSbY4aHXEeaLWtGRPyTNeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LSbY46HXEeaLWtGRPyTNeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LSbY4qHXEeaLWtGRPyTNeA" points="[0, 0, 22, -62]$[-19, 58, 3, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LSd1IKHXEeaLWtGRPyTNeA" id="(0.5148514851485149,0.8490566037735849)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LSd1IaHXEeaLWtGRPyTNeA" id="(0.4818181818181818,0.09433962264150944)"/>
    </edges>
    <edges xmi:id="_gziw8KHXEeaLWtGRPyTNeA" type="Transition" element="_gzgUsKHXEeaLWtGRPyTNeA" source="_AHb5YKHSEeaLWtGRPyTNeA" target="_ENevcKHXEeaLWtGRPyTNeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_gzjYAaHXEeaLWtGRPyTNeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gzjYAqHXEeaLWtGRPyTNeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gzjYA6HXEeaLWtGRPyTNeA" x="3" y="103"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gziw8aHXEeaLWtGRPyTNeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gzjYAKHXEeaLWtGRPyTNeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gziw8qHXEeaLWtGRPyTNeA" points="[6, 0, 3, -67]$[6, 58, 3, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gznCYKHXEeaLWtGRPyTNeA" id="(0.4714285714285714,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gznCYaHXEeaLWtGRPyTNeA" id="(0.4745762711864407,0.20754716981132076)"/>
    </edges>
    <edges xmi:id="_VBhpgKHZEeaLWtGRPyTNeA" type="Transition" element="_VBfNQKHZEeaLWtGRPyTNeA" source="_0_XmgKHWEeaLWtGRPyTNeA" target="_0_XmgKHWEeaLWtGRPyTNeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_VBiQkaHZEeaLWtGRPyTNeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_VBiQkqHZEeaLWtGRPyTNeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_VBiQk6HZEeaLWtGRPyTNeA" x="-1" y="117"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_VBhpgaHZEeaLWtGRPyTNeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_VBiQkKHZEeaLWtGRPyTNeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_VBhpgqHZEeaLWtGRPyTNeA" points="[0, 0, 4, -23]$[234, 0, 238, -23]$[234, 32, 238, 9]$[0, 32, 4, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VBl68KHZEeaLWtGRPyTNeA" id="(1.0,0.23728813559322035)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VBl68aHZEeaLWtGRPyTNeA" id="(0.979381443298969,0.6610169491525424)"/>
    </edges>
    <edges xmi:id="_uNEr8KHZEeaLWtGRPyTNeA" type="Transition" element="_uNC2wKHZEeaLWtGRPyTNeA" source="_IuzlkKHXEeaLWtGRPyTNeA" target="_BH1ZkKDZEea6GocbRdTeNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_uNFTAaHZEeaLWtGRPyTNeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_uNFTAqHZEeaLWtGRPyTNeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_uNF6EKHZEeaLWtGRPyTNeA" x="-387" y="23"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_uNEr8aHZEeaLWtGRPyTNeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_uNFTAKHZEeaLWtGRPyTNeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_uNEr8qHZEeaLWtGRPyTNeA" points="[-3, 0, -421, 456]$[-26, 0, -444, 456]$[-26, -456, -444, 0]$[394, -456, -24, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_uNIWUKHZEeaLWtGRPyTNeA" id="(0.019417475728155338,0.5094339622641509)"/>
    </edges>
    <edges xmi:id="_tk3nAKHaEeaLWtGRPyTNeA" type="Transition" element="_tk1KwKHaEeaLWtGRPyTNeA" source="_0_XmgKHWEeaLWtGRPyTNeA" target="_dYeQ4KHaEeaLWtGRPyTNeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_tk4OEKHaEeaLWtGRPyTNeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tk4OEaHaEeaLWtGRPyTNeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tk4OEqHaEeaLWtGRPyTNeA" x="-1" y="-105"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tk3nAaHaEeaLWtGRPyTNeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tk3nA6HaEeaLWtGRPyTNeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tk3nAqHaEeaLWtGRPyTNeA" points="[-4, 0, 3, -43]$[-4, 42, 3, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tk7RYKHaEeaLWtGRPyTNeA" id="(0.5309278350515464,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tk74cKHaEeaLWtGRPyTNeA" id="(0.4789473684210526,0.03773584905660377)"/>
    </edges>
    <edges xmi:id="_6WHr8KHaEeaLWtGRPyTNeA" type="Transition" element="_6WF2wKHaEeaLWtGRPyTNeA" source="_dYeQ4KHaEeaLWtGRPyTNeA" target="_IuzlkKHXEeaLWtGRPyTNeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_6WITAKHaEeaLWtGRPyTNeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6WITAaHaEeaLWtGRPyTNeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6WITAqHaEeaLWtGRPyTNeA" x="4" y="-107"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6WHr8aHaEeaLWtGRPyTNeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6WHr86HaEeaLWtGRPyTNeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6WHr8qHaEeaLWtGRPyTNeA" points="[0, 0, 19, -104]$[-16, 96, 3, -8]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6WLWUaHaEeaLWtGRPyTNeA" id="(0.44660194174757284,0.16981132075471697)"/>
    </edges>
    <edges xmi:id="_VMaY8KHbEeaLWtGRPyTNeA" type="Transition" element="_VMX8sKHbEeaLWtGRPyTNeA" source="_dYeQ4KHaEeaLWtGRPyTNeA" target="_dYeQ4KHaEeaLWtGRPyTNeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_VMaY9KHbEeaLWtGRPyTNeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_VMaY9aHbEeaLWtGRPyTNeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_VMaY9qHbEeaLWtGRPyTNeA" x="4" y="118"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_VMaY8aHbEeaLWtGRPyTNeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_VMaY86HbEeaLWtGRPyTNeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_VMaY8qHbEeaLWtGRPyTNeA" points="[2, -7, 4, -32]$[238, -7, 240, -32]$[238, 25, 240, 0]$[2, 25, 4, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VMfRcKHbEeaLWtGRPyTNeA" id="(0.9894736842105263,0.18867924528301888)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VMfRcaHbEeaLWtGRPyTNeA" id="(0.9789473684210527,0.7169811320754716)"/>
    </edges>
    <edges xmi:id="_4uvB8KHbEeaLWtGRPyTNeA" type="Transition" element="_4utMwKHbEeaLWtGRPyTNeA" source="_ENevcKHXEeaLWtGRPyTNeA" target="_1xvFUKHbEeaLWtGRPyTNeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_4uvpAKHbEeaLWtGRPyTNeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4uvpAaHbEeaLWtGRPyTNeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4uvpAqHbEeaLWtGRPyTNeA" y="103"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4uvB8aHbEeaLWtGRPyTNeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4uvB86HbEeaLWtGRPyTNeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4uvB8qHbEeaLWtGRPyTNeA" points="[-4, 0, 3, -64]$[-4, 62, 3, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4uyFQKHbEeaLWtGRPyTNeA" id="(0.5257731958762887,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4uyFQaHbEeaLWtGRPyTNeA" id="(0.47282608695652173,0.05660377358490566)"/>
    </edges>
    <edges xmi:id="_5sdOcKHbEeaLWtGRPyTNeA" type="Transition" element="_5sayMKHbEeaLWtGRPyTNeA" source="_1xvFUKHbEeaLWtGRPyTNeA" target="_au-mcKHXEeaLWtGRPyTNeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_5sdOdKHbEeaLWtGRPyTNeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5sdOdaHbEeaLWtGRPyTNeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5sdOdqHbEeaLWtGRPyTNeA" x="4" y="102"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5sdOcaHbEeaLWtGRPyTNeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5sdOc6HbEeaLWtGRPyTNeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5sdOcqHbEeaLWtGRPyTNeA" points="[-4, 0, 3, -57]$[-4, 52, 3, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5sfqsKHbEeaLWtGRPyTNeA" id="(0.4896907216494845,0.9661016949152542)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5sfqsaHbEeaLWtGRPyTNeA" id="(0.4485981308411215,0.11320754716981132)"/>
    </edges>
    <edges xmi:id="_Eo6U8KHcEeaLWtGRPyTNeA" type="Transition" element="_Eo34sKHcEeaLWtGRPyTNeA" source="_1xvFUKHbEeaLWtGRPyTNeA" target="_1xvFUKHbEeaLWtGRPyTNeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Eo68AKHcEeaLWtGRPyTNeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Eo68AaHcEeaLWtGRPyTNeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Eo68AqHcEeaLWtGRPyTNeA" x="2" y="-122"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Eo6U8aHcEeaLWtGRPyTNeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Eo6U86HcEeaLWtGRPyTNeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Eo6U8qHcEeaLWtGRPyTNeA" points="[0, -7, 0, -30]$[-240, -7, -240, -30]$[-240, 29, -240, 6]$[0, 29, 0, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Eo8xMKHcEeaLWtGRPyTNeA" id="(0.0,0.2033898305084746)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Eo9YQKHcEeaLWtGRPyTNeA" id="(0.005154639175257732,0.6271186440677966)"/>
    </edges>
    <edges xmi:id="_fwTZAKHcEeaLWtGRPyTNeA" type="Transition" element="_fwQ8wKHcEeaLWtGRPyTNeA" source="_ENevcKHXEeaLWtGRPyTNeA" target="_ENevcKHXEeaLWtGRPyTNeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_fwTZBKHcEeaLWtGRPyTNeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fwTZBaHcEeaLWtGRPyTNeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fwTZBqHcEeaLWtGRPyTNeA" x="1" y="-110"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fwTZAaHcEeaLWtGRPyTNeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fwTZA6HcEeaLWtGRPyTNeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fwTZAqHcEeaLWtGRPyTNeA" points="[0, 0, 0, -21]$[-216, 0, -216, -21]$[-216, 34, -216, 13]$[0, 21, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fwV1QKHcEeaLWtGRPyTNeA" id="(0.0,0.2711864406779661)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fwWcUKHcEeaLWtGRPyTNeA" id="(0.0213903743315508,0.7796610169491526)"/>
    </edges>
    <edges xmi:id="_prUQoKHcEeaLWtGRPyTNeA" type="Transition" element="_prP_MKHcEeaLWtGRPyTNeA" source="_au-mcKHXEeaLWtGRPyTNeA" target="_BH1ZkKDZEea6GocbRdTeNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_prVewKHcEeaLWtGRPyTNeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_prVewaHcEeaLWtGRPyTNeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_prVewqHcEeaLWtGRPyTNeA" x="-403" y="-30"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_prU3sKHcEeaLWtGRPyTNeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_prU3sqHcEeaLWtGRPyTNeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_prU3saHcEeaLWtGRPyTNeA" points="[0, -5, 449, 447]$[12, -5, 461, 447]$[12, -452, 461, 0]$[-425, -452, 24, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_praXQKHcEeaLWtGRPyTNeA" id="(1.0,0.6792452830188679)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
